* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    padding: 0px 132px 0px 132px;
}

a {
    text-decoration: none;
    color: inherit; 
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.container {
    max-width: 1440px;
    width: 100%;
}

.web-gridview {
    width: 100%;
}

.header-alibaba {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.search {
    max-width: 665px;
    background-color: var(--color-white-100);
    border: 1px solid var(--primary-color);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin-left: 46px;
    border: none;
}

.search input[type="search"],
.search select,
.search button {
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    max-height: 40px;
    text-transform: capitalize;
    border: 1px solid var(--primary-color);
}

.search input[type="search"] {
    width: 421px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid var(--primary-color);
    color: var(--color-gray-500);
}

.search select {
    width: 145px;
}

.search div[aria-hidden="true"] {
    white-space: nowrap; 
    overflow: hidden; 
}

.search button {
    min-width: 100px;
    padding: 11px 10px 10px 10px;
    cursor: pointer;
    border-radius: 0px 6px 6px 0px; 
    background: var(--primary-gradient-color);
    color: var(--color-white-100);
}
/* .select {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.user-dashboard {
    display: flex;
    align-items: center;
    gap: 23px; 
    font-size: 12px;
    margin-left: 89px;
    margin-right: 132px;
    overflow: hidden; 
    width: auto;
    color: var(--color-gray-500);
    text-transform: capitalize;
}

.user-dashboard a {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-end; 
    text-align: center; 
    max-width: 100px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.user-dashboard img {
    margin-bottom: 7px; 
}

.user-dashboard li {
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
}
