* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
  }

body {
    font-family: "Inter";
}

a {
    text-decoration: none;
  }
  
ul {
    list-style-type: none;
  }

  .container {
    max-width: 1440px;
    width    : 100%;
  }

  .web-gridview {
    width: 100%;
    padding-left: 132px;
    padding-right: 132px;
  }

  ul {
    display: flex; 
    padding: 0;
    margin: 0;
}

.search {
    width: 100%;
    max-width: 665px;
    height: 100%;
    border: 1px;
    border-color: var(--primary-color);
    background-color: var(--color-white-100);



    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;

    margin-left: 46px;
}
.search li {
    max-height: 40px;
}
.search input[type="search"],
.search select,
.search button {
    font-family: inherit; 
    font-size: inherit;
    text-transform: capitalize;
}
::placeholder {
    color: var(--color-gray-500);
}
.search input[type="search"] {
    width: 421px;
    max-width: 421px;
    max-height: 40px;
    padding: 10px 5px 10px 10px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-decoration-skip-ink: none;
    border-color: var(--primary-color);
}

.search select {
    width: 145px;
    max-height: 40px;
    max-width: 145px;
    padding: 10px 5px 10px 10px;
    line-height: 19.36px;
    text-align: left;
    text-decoration-skip-ink: none;

    border: 1px;
    border-color: var(--primary-color);
}


.user-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    margin-left: 89px;
}

.user-dashboard li {
    margin-left: 23px;

    width: 37px;
    height: 41px;


}
