* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: inherit; 
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.container {
    max-width: 1440px;
    width: 100%;
}

.web-gridview {
    width: 100%;
    padding: 0 132px;
}

.header-alibaba {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.search {
    max-width: 665px;
    background-color: var(--color-white-100);
    border: 1px solid var(--primary-color);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin-left: 46px;
}

.search input[type="search"],
.search select,
.search button {
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    max-height: 40px;
    text-transform: capitalize;
    border: 1px solid var(--primary-color);
}

.search input[type="search"] {
    width: 421px;
}

.search select {
    width: 145px;
}

.search div[aria-hidden="true"] {
    white-space: nowrap; 
    overflow: hidden; 
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dashboard {
    display: flex;
    align-items: center;
    gap: 23px; 
    font-size: 12px;
    margin-left: 89px;
}

/* Adaptive */
@media (max-width: 768px) {
    .search {
        /* flex-direction: column; */
        max-width: 100%;
    }
    .search input[type="search"],
    .search select,
    .search button {
        width: 100%;
        max-width: 100%;
    }
    .user-dashboard {
        font-size: 10px; /* მობილურის დევაისებზე ამცირებს შრიფთის ზომას */
    }
}
